<ion-content padding>
  <div>
    <img src="./../../assets/Logo BABA Talk.png">

    <p>Envoyez nous une image de drapeau et vous dira son pays. <br> (Uniquement France et Italie mdr)</p>

    <input type="file" (change)="handleFileInput($event.target.files)" >

    <h3 style="color:green" *ngIf="response!=null">{{response}}</h3>

  </div>
</ion-content>
